<div class="container-fluid">
    <div class="col-md-10 col-md-offset-1" style="margin-top: 25px">
        <h2 class="text-center">Content</h2>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid error libero officiis
            perspiciatis quidem velit. At consectetur ducimus fugiat hic iste itaque, nam nesciunt sunt tempore
            voluptatum. Doloribus, libero, perferendis?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et fugiat in labore magnam non nostrum provident
            voluptatum. Adipisci consectetur consequatur doloribus hic itaque, minima minus quos recusandae sed, sequi
            tempora!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti incidunt necessitatibus nulla sit!
            Aspernatur minus nobis obcaecati! Debitis eaque eius, illo in inventore nihil odit, quia quis sunt
            temporibus vel.

        </p>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
    </div>
</div>