<div class="container-fluid" style="margin-top: 50px">
    <div class="row">


    <div class="col-md-3">
        <div class="item">
            <div class="row text-center title">Read</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi ducimus eligendi eum, excepturi ipsa iste, minima, nisi odio officia possimus quidem rerum. Earum eos odio provident rem soluta veniam?</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="item">
            <div class="row text-center title">write</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur consequuntur, culpa, cupiditate ea enim et illo illum nemo odit officia officiis optio, perspiciatis quasi quia repellendus similique tempore temporibus?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="item">
            <div class="row text-center title">listening</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur consequuntur, culpa, cupiditate ea enim et illo illum nemo odit officia officiis optio, perspiciatis quasi quia repellendus similique tempore temporibus?
            </p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="item">
            <div class="row text-center title">speack</div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet consequatur consequuntur, culpa, cupiditate ea enim et illo illum nemo odit officia officiis optio, perspiciatis quasi quia repellendus similique tempore temporibus?
            </p>
        </div>
    </div>
    </div>
<div class="row inviteng">
    Joint to our Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cum cupiditate dicta doloremque dolorum earum eveniet facere magni nam optio praesentium quam quas quo ratione repellendus, similique tenetur. Atque, veniam?
</div>

</div>

