<div class="container-fluid wraper" style="position: relative;display: block;padding-bottom: 150px;margin-top: 50px">
    <div class="row text-center">
        <h1>Як це працює?</h1>
    </div>

    <div #leftColum @explainerAnim class="col-md-6 col-sm-6 line left-item">
        <div class="row" style="position: relative; margin-top: 150px">

            <div class="icon-line text-center">
            <i class="fa-icon fa fa-thumbs-o-up " style="min-height: 15px"></i>
            </div>
            <div class="col col-md-11 col-md-offset-1 " style="padding-right: 70px">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ipsam minus pariatur,
                reiciendis vitae voluptatum? Aspernatur assumenda aut commodi consectetur exercitationem molestias
                nemo quisquam repellendus temporibus. Architecto labore, tenetur.
            </div>
        </div>

        <div class="row" style="position: relative; margin-top: 250px">
            <div class="icon-line text-center">
                <i class="fa-icon fa fa-thumbs-o-up " style="min-height: 15px"></i>

            </div>
            <div class="col col-md-11 col-md-offset-1 " style="padding-right: 70px">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ipsam minus pariatur,
                reiciendis vitae voluptatum? Aspernatur assumenda aut commodi consectetur exercitationem molestias
                nemo quisquam repellendus temporibus. Architecto labore, tenetur.
            </div>
        </div>
    </div>
    <div class="vertical-row hidden-xs hidden-sm " style="position: absolute;width:4px;left:50%;z-index: -1; height: 100%;background-color: black "></div>

    <div @explainerAnim class="col-md-6 col-sm-6 right-item" >
        <div class="row" style="position: relative">
            <div class="icon-line text-center">
                <i class="fa-icon fa fa-thumbs-o-up " style="min-height: 15px"></i>

            </div>
            <div class=" col col-md-11 col-md-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ipsam minus pariatur,
                reiciendis vitae voluptatum? Aspernatur assumenda aut commodi consectetur exercitationem molestias
                nemo quisquam repellendus temporibus. Architecto labore, tenetur.
            </div>
        </div>
        <div class="row" style="position: relative; margin-top: 250px;">
            <div class="icon-line text-center">
                <i class="fa-icon fa fa-thumbs-o-up " style="min-height: 15px"></i>

            </div>
            <div class="col col-md-11 col-md-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ipsam minus pariatur,
                reiciendis vitae voluptatum? Aspernatur assumenda aut commodi consectetur exercitationem molestias
                nemo quisquam repellendus temporibus. Architecto labore, tenetur.
            </div>
        </div>
        <div class="row" style="position: relative; margin-top: 250px;">
            <div class="icon-line text-center">
                <i class="fa-icon fa fa-thumbs-o-up " style="min-height: 15px"></i>

            </div>
            <div class="col col-md-11 col-md-offset-1">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum fugiat ipsam minus pariatur,
                reiciendis vitae voluptatum? Aspernatur assumenda aut commodi consectetur exercitationem molestias
                nemo quisquam repellendus temporibus. Architecto labore, tenetur.
            </div>
        </div>
    </div>
</div>
