.contact-form{
    margin-top: 5px;
    padding: 15px;
    border-radius: 15px;
}
.form-control{
    margin-top: 5px;
}
.submit{
    margin-top: 5px;
    min-width: 10vw;
}
button:focus {
    outline:none !important;
    border-color: transparent;
    background-color: #5CB85C;
}
p{
    color:white;
}
li{
    color: white;
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}