
<footer class="container-fluid " style="background-image: url(assets/image/footer-map.jpg); position: relative;
background-size: 100%;background-repeat: no-repeat;">
       <div class="row" style=" background-color: rgba(73,73,73,0.5);">
        <div class="col-md-7"  style="min-height: 250px;margin-top: 25px;       " >

            <ul class="col-md-4" >

                <li  ><b >Languages</b></li>
                <li  ><a>Eanglish</a></li>
                <li ><a>France</a></li>
                <li  ><a>Romunian</a></li>
                <li ><a>Italian</a></li>
            </ul>
            <ul class="col-md-4" >
                <b >Concat us</b>
                <li>Item 1</li>
                <li >Item 2</li>
                <li >Item 3</li>
            </ul>
        </div>

        <div class="col-md-4">

            <form [formGroup]="form" (submit)="onSubmit(form)" style=" ;
    margin-left: 72px;"  class="form-group contact-form col-md-10 col-md-offset-1">
                <p class="text-center">Contact with us</p>
                <input type="text" class="form-control" formControlName="name" placeholder="name">
                <input type="email" class="form-control" formControlName="email" placeholder="email">
                <textarea  class="form-control" formControlName="content" placeholder="content"></textarea>
                <div class="form-group">
                <button class="btn btn-success center-block submit">Submit</button>
                </div>
            </form>
        </div>
       </div>

</footer>