<div class="content">

  <div class="item-box container-fluid" style="background-image: url(/assets/image/London.jpg)">
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class="col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
  </div>



  <div class="item-box container-fluid" style="background-image: url(/assets/image/Paris.jpeg)">
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class="col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
  </div>
  <div class="item-box container-fluid" style="background-image: url(/assets/image/romania.jpg)">
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
    <div class="col-md-3">
      <div class="item-m"></div>
    </div>
    <div class=" col-md-3">
      <div class="item-m"></div>
    </div>
  </div>


</div>